@font-face {
    font-family: american-typewriter;
    src: url('/fonts/american_typewriter.ttf');
    font-weight: normal;
}

@font-face {
    font-family: american-typewriter;
    src: url('/fonts/american_typewriter_bold.ttf');
    font-weight: bold;
}

body {
    font-family: american-typewriter;
}

.sidebar {
    position: fixed;
    margin-top: 128px;
    padding-left: 16px;
    width: 12.5%;
}

#logo {
    width: 72px;
    margin-bottom: 16px;
}

#toc {
    padding-left: 22px;
}

#content_container {
    float: right;
    width: 87.5%;
}

#content {
    margin-right: 11px;
}

.content_item {
    margin-bottom: 16px;
}

.content_item_img {
    width: 100%;
}

.toc_list {
    margin-bottom: 8px
}
.indent {
    margin-left: 16px;
}

.sidebar a {
    color: #222222;
}

#content img {
    padding: 0px;
}

h5 {
    margin-bottom: 64px;
    color: #555555;
}
