@font-face {
    font-family: american-typewriter;
    src: url('/fonts/american_typewriter.ttf');
    font-weight: normal;
}

@font-face {
    font-family: american-typewriter;
    src: url('/fonts/american_typewriter_bold.ttf');
    font-weight: bold;
}

body {
    font-family: american-typewriter;
}

.sidebar {
    position: fixed;
    margin-top: 128px;
    padding-left: 16px;
    width: 12.5%;
    height: 100%;
    overflow: hidden;
}

#logo {
    width: 72px;
    margin-bottom: 16px;
}

#toc {
    padding-left: 28px;
    margin-right: -18px;
    padding-right: 18px;
    overflow-y: scroll;
}

#content_container {
    float: right;
    width: 87.5%;
}

#content {
}

.content_item {
    margin-bottom: 16px;
}

.content_item_img {
    width: 100%;
}

.toc_list {
}

.sidebar a {
    color: #222222;
}

.sidebar a span {
    margin-left: -6px;
}

#content img {
    padding: 0px;
}

h5 {
    margin-bottom: 64px;
    color: #555555;
}

.link-in {
    color: #ae0000 !important;
}

.dir-in {
    display: list-item;
    list-style-type: disc;
}
